name: Tests

on:
  push:
    branches: [ "main", "production" ]
  pull_request:
    branches: [ "main", "production" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20.x'

    - name: Install Dependencies
      run: npm ci

    - name: Build assets
      run: npm run build
